{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<h1>About Project</h1>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h4>
          <a class="article-title" href="#">Cyber Peace Foundation
            </h4></a></div><br>
              <img src="{% static 'images/cpf.png' %}" alt="Cyber Peace Foundation" style="width:auto;height:auto;"><br>
                <br></h5></div>
                  </article>
                    <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                          <h2><a class="article-title" href="#">This Project Made For Analysis of TikTok Live Streaming Data!</a></h2>
                            </div>
                          <a class="mr-2" href="#">Project : In Behalf of @Cybe Peace Foundation</a>
                          <small class="text-muted">Developed By : <strong>Sumit Kumar  </strong> Under the mentor : <strong>Dr. Irfan Siddavatam</strong><br></small>
                            </div>
                              <p class="article-content"></p>
                        </article>
                        <!-- Connect with me at github -->
                        <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                          <h2><a class="article-title" href="#">
                            Connect me at Github
                          </a></h2>
                            </div>
                            <small class="text-muted">Github Repo : <strong> </strong>
                          <a class="mr-2" href="https://github.com/Hack3rOneness" target="_blank">~Hack3r_Oneness</a>| &nbsp; LinkedIn : 
                          <a class="mr-2" href="https://www.linkedin.com/in/sumit-o-a30926158/" target="_blank">Sumit Oneness</a>
                          </small>
                            </div>
                              <p class="article-content"></p>
                        </article>
{% endblock content %}
